.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.keyboard {
  display: flex;
    flex-direction: column;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.keyboard-button {
  border: solid 1px white;
  background: gray;
  padding: 15px;
  margin: 5px;
}

.wordle-grid {
  display: flex;
    flex-direction: column;
}

.wordle-grid-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wordle-grid-square {
  border: solid 1px white;
  background: gray;
  padding: 15px;
  margin: 5px;
  height: 30px;
  width: 30px;
}